.about{
    width: 100%;
}
.about-game {
  margin-bottom: 50px;
  
}

.about-game h1 {
  padding: 20px 0;
}

@media screen and (max-width: 780px) {
  .space {
    margin: 0 50px;
  }
  .about-game {
    padding: 50px 0;
  }
}
