*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Me Again';
    src: url(../assets/fonts/JustMeAgainDownHere-Regular.ttf);
}
body{
    font-family: 'Me Again';
}
h1{
    font-size: 64px;
}
h2{
    font-size: 36px;
}
p{
    font-size: 24px;
}
.nav-bar{
    width: 1000px;
    height: 100px;
    font-size: 20pt;
}
.nav-bar ul li{
    list-style: none;
    margin-left: 50px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.6s;
}
.nav-bar ul li a:hover{
    opacity: 0.3;
}
footer{
    height: 100px;
    font-size: 18pt;
}
footer ul{
    margin-bottom: 50px;
    gap: 20px;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.4s;
}
footer ul li a:hover,i:hover{
    opacity: 0.3;
    cursor: pointer;
}
footer i{
    margin: 10px;
    transition: all 0.4s;
}
footer span{
    font-size: 14pt;
}
section{
    margin-top: 50px;
}

@media screen and (max-width: 700px) {
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
    }
    section{
        margin-top: 10px;
    }
}