.controls{
    width: 100%;
    height: 650px;
    background-image: url(./../assets/images/controls-bg.png);
}
.controls > div{
    padding-top: 120px;
}
.controls img{
    height: 250px;
}
.left-right{
    padding-top: 50px;
}

@media screen and (max-width: 650px) {
    
}