.controls{
    width: 100%;
    height: 500px;
    background-image: url(./../assets/images/controls-bg.png);
}
.controls > div{
    padding-top: 60px;
}
.controls img{
    height: 250px;
}
.left-right{
    padding-top: 50px;
}

@media screen and (max-width: 650px) {
    .controls{
        height: 300px;
        background-image: url(./../assets/images/controls-bg-mb.png);
    }
    .controls h2{
        font-size: 24px;
    }
    .controls img{
        height: 150px;
    }
    .left-right{
        padding-top: 25px;
    }
    .controls > div{
        padding-top: 40px;
    }
}